<h1>Welcome to Traction Application!</h1>

<%= image_tag attachments['https://files.slack.com/files-pri/TA8C04VUN-FDDHCD8PM/flash-page.png'].url, alt: 'My Photo', class: 'photos' %>

<p>
  <%= @greeting %>

</p>
