<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
</head>

<h1>Welcome to Traction Application!</h1>
<img src="https://harm-reduction-tracker.herokuapp.com/assets/traction-logo-white-88d3d8c9b0b2872962f98672c39399914786d2158eddbc1a934bf7b194958f1c.png" alt="rss feed" width="50px"/>
<a href="https://harm-reduction-tracker.herokuapp.com"> Link to Traction Appliction</a>
<p>
  <%= @greeting %>

</p>
