<div class="admin-container">
  <div class="admin-header">Editing Volunteer Info Form <i class="far fa-user"></i></div>
  <div class="admin-panel">
    <h2>Use this form to edit Volunteer information<h2>

    <%= render 'form' %>

    <%= link_to "Back", :back %>
  </div>
</div>