<div class="admin-container">
  <div class="admin-header"><%= t(:head_edit_vol) %> <i class="far fa-user"></i></div>
  <div class="admin-panel">
    <h2><%= t(:use_form_edit_vol) %><h2>

    <%= render 'form' %>

    <%= link_to "#{t(:back)}", :back %>
  </div>
</div>