<div class="admin-container">
  <div class="admin-header">New Volunteer Info Form <i class="far fa-user"></i></div>
  <div class="admin-panel">
    <h2>Please register a new volunteer account.<h2>

    <%= render 'form' %>

    <%= link_to "Back", :back %>
  </div>
</div>
