<div class="admin-container">
  <div class="admin-header"><%= t(:head_new_vol)%> <i class="far fa-user"></i></div>
  <div class="admin-panel">
    <h2><%= t(:register_new) %><h2>

    <%= render 'form' %>

    <%= link_to "#{t(:back)}", :back %>
  </div>
</div>
