<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
<meta name="viewport" content="initial-scale=1.0 width=device-width">
</head>

<span style="text-align: center"><h2>Welcome New Volunteer!</h2></span>
<h2>Please register for your new volunteer account.<h2>

<%= render 'form' %>

<%= link_to "Back", :back %>

