<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
</head>

<div class="Card-container">
  <div class="Card">
    <%= react_component 'WelcomePage', { currentUser: current_user, initialStatus: @status} , :div %>
  </div>
</div>
