/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url('https://fonts.googleapis.com/css?family=Open+Sans:700,800|Roboto:700,900');

/* Universal Styles */
body {
    background-color: #2374AB;
}

.button {
    margin-right: 10px;
    margin-top: 10px;
    width: 75%;
}

/* HeaderVolunteer , HeaderAdmin */
.header-logo {
    width: 215px;
    /* margin-top: 5px; */
    margin-left: 10px;
    margin-bottom: 0;
}

.container {
    max-width: 90%;
    padding-top: 50px;
    background-color: #fff;
    height: 300px;
    border-radius: 10%;
}

.login-container {
    max-width: 90%;
    padding-top: 50px;
    background-color: #fff;
    height: 300px;
    border-radius: 10%;
    margin: 100px auto;
}

.login-form {
    max-width: 75%;
    margin: auto;
}

login-img {
    width: 100px;
}

.main {
    margin: 100px auto;
    text-align: center;
}

.greeting {
    font-family: "Open Sans";
    margin-bottom: 5px;
    font-size: 30px;
    font-weight: 800;
}

/* Scanner */
.flash {
    animation: flash linear .5s 1;
}

@keyframes flash {
    0% {
        background-color: green;
        opacity: .1;
    }

    50% {
        background-color: green;
        opacity: 1;
    }

    100% {
        background-color: green;
        opacity: .1;
    }
}
/* Admin pages */

.admin-container {
  max-width: 95%;
  margin: 20px;
}

.admin-header {
  width: 100%;
  background-color: #fff9de;
  height: 1.5rem;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #2374AB;
}

.admin-panel {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #2374AB;
  border-radius: 0 0 5% 5%;
  padding: 15px;
}

.ap-ul {
  margin-top: 10px;
}

.li-ndistro {
  margin-bottom: 15px;
}

.li-newvol {
  margin-top: 15px;
}

.search-container {
  width: 100%;
}

.page-index {
  margin: 20px auto;
  width: 80%;
  text-align: center;
}

.pagination {
  justify-content: space-evenly;
}

/* Admin view - User pages */

.volunteer-index-table {
  width: 100%;
  font-size: .9rem;
}

.volunteer-index-table th,
.volunteer-index-table td {
  text-align: center;
}

.volunteer-index-table tr:nth-child(even) {
  background-color: #fff9de;
}

/* Admin view - Inventory pages */

.inventory-index-table {
  width: 100%;
  font-size: .9rem;
}

.inventory-index-table th,
.inventory-index-table td {
  text-align: center;
}

.inventory-index-table tr:nth-child(even) {
  background-color: #fff9de;
}

/* Admin view - Reversal pages */

.reversal-index-table {
  width: 100%;
  font-size: .9rem;
}

.reversal-index-table th,
.reversal-index-table td {
  text-align: center;
}

.reversal-index-table tr:nth-child(even) {
  background-color: #fff9de;
}

/* Admin view - user form */

.form-field-box {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
}

.form-field-box .field {
  margin: 15px;
}

/* Media Queries */

@media screen and (max-width: 600px) {
  .tbl-desktop {
    display: none;
  }

  .ffb-col {
    flex-direction: column;
    justify-content: flex-start;
  }
}
