/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url('https://fonts.googleapis.com/css?family=Open+Sans:700,800i|Roboto');

/* Universal Styles */
 body {
   background-color: #2374AB;
 }

 .button {
  font-family: Roboto;
  margin-top: 10px;
  width: 100%;  
}

p {
  font-family: Roboto;
}

.Card {
  border-radius: 5px;
  padding: 1rem .5rem;
  margin: 2rem auto;
  width: 80%;
  background-color: white;
}

/* HeaderVolunteer , HeaderAdmin */
 .header-logo {
  width: 12rem;
  margin-left: .5rem;
  margin-bottom: 0;
  }


/* Login Page */

/* .login-container {
  margin-top: 50px;
} */

.login-image {
  display: block;
  margin-top: 3.5rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 75%; 
}

/* WelcomeView */

.container-content{
  text-align: center; 

}

.Card-container {
  margin-top: 8rem;
}

.greeting {
  font-family: "Open Sans";
  margin-bottom: .5rem;
  font-size: 2rem;
  font-weight: 800;
}

/* Scanner */
.flash {
  animation: flash linear .5s 1;
}

@keyframes flash {
  0% { opacity: 1; }
  50% { opacity: .1; }
  100% {opacity: 1; }
}

.scanner {
  width: 100%;
}

.input-field {
  margin-left: 25px;
}

