/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url('https://fonts.googleapis.com/css?family=Open+Sans:700,800i|Roboto');

/* Universal */
 body {
   background-color: #2374AB;
 }

 p {
  font-family: Roboto;
}

.center-justify {
  text-align: left;
  margin: 0 auto;
  width: 18em;
}

 .button {
  font-family: Roboto;
  margin-top: 10px;
  width: 100%;  
}

.Card {
  border-radius: 5px;
  padding: 1rem .5rem;
  margin: 2rem auto;
  width: 90%;
  background-color: white;
}

.pipe {
  color: #FF8484;
}

/* HeaderVolunteer , HeaderAdmin */
 .header-logo {
  width: 12rem;
  margin-left: .5rem;
  margin-bottom: 0;
  }

  .navbar-burger {
    background-color: transparent;
    color: #2374AB;
  }

/* Login Page */


.login-image {
  display: block;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 75%; 
}

/* WelcomeView */

.container-content{
  text-align: center; 
}

.Card-container {
  margin-top: 6rem;
}

.greeting {
  text-align: center;
  font-family: "Open Sans";
  margin-bottom: .5rem;
  font-size: 2rem;
  font-weight: 800;
}

/* Scanner */
.delete-button-container {
  text-align: right;
  margin-bottom: .5rem;
}

.flash {
  animation: flash linear .5s 1;
}

@keyframes flash {
  0% { opacity: 1; }
  50% { opacity: .1; }
  100% {opacity: 1; }
}

/* Manual Input*/

.input-delete {
  margin-left: .5rem;
}

.manual-input-container {
  margin-top: 4rem;
}

.label {
  margin-top: .5rem;
}

.scanner-container {
  margin-top: 5rem; 
}
/* .input-field {
  margin-left: 25px;
} */

