/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url('https://fonts.googleapis.com/css?family=Open+Sans:700,800i|Roboto:400,700,900');

/* Universal */
 body {
   background: linear-gradient(to bottom, rgba(35,116,171,1) 0%, rgba(4,90,143,1) 100%);
 }

 p {
  font-family: Roboto;
  font-weight: 400;
}

.center-justify {
  text-align: left;
  margin: 0 auto;
  width: 19em;
}

 .button {
  font-family: Roboto;
  margin-top: 10px;
  width: 100%;  
}

.Card {
  border-radius: 5px;
  box-shadow: 6px 7px 10px 1px rgba(0,0,0,0.31);;
  padding: 1rem .5rem;
  margin: 2rem auto;
  width: 90%;
  background-color: white;
}


.sub-button {
  width: 70%;
  margin-left: 15%;
  margin-right: auto;
}

select {
  background-color: #fff;
  border-color: #dbdbdb;
  color: #363636;
  cursor: pointer;
  display: block;
  font-size: 1em;
  max-width: 100%;
  outline: 0;
}

select:hover {
  border-color: #b5b5b5;
}

/* HeaderVolunteer , HeaderAdmin */
.burger-inactive {
  color: #2374AB;
  background-color: transparent;
}

.burger-active {
  color: #FF8484;
  background-color: transparent;
}

.flag-icon {
  margin-top: .5rem;
}

.header-logo {
  width: 130px;
  margin-left: .5rem;
  margin-bottom: 0;
  margin-top: .2rem;
  }

.header-link {
   color: #353531;
}

.navbar-start {
  margin-left: .5rem;
}

/* Login Page */


.login-image {
  display: block;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 75%; 
}

.password-reset {
  margin-top: .5rem;
  margin-bottom: 0;
}

/* WelcomeView */

.Card-container {
  margin-top: 9rem;
}

.greeting {
  text-align: center;
  font-family: "Open Sans";
  margin-bottom: .5rem;
  font-size: 2rem;
  font-weight: 700;
}

/* Scanner */
.delete-button-container {
  text-align: right;
  margin-bottom: .5rem;
}

.flash {
    animation: flash linear 1s .5;
}

@keyframes flash {
    0% {
        background-color: green;
        opacity: .1;
    }

    50% {
        background-color: green;
        opacity: 1;
    }

    100% {
        background-color: green;
        opacity: .1;
    }
}

.ScannerCard {
  border-radius: 5px;
  box-shadow: 6px 7px 10px 1px rgba(0,0,0,0.31);;
  padding: 1rem .5rem;
  margin: 2rem auto;
  width: 90%;
  background-color: white;
}

.scanner-container {
  margin-top: 4rem; 
}


/* Manual Input*/


.input-delete {
  margin-left: .5rem;
  margin-top: .5em;
}

.manual-input-container {
  margin-top: 4rem;
}

.label {
  margin-top: .5rem;
}

.serial-input {
  width: 96%;
}


/* Naloxone Form */

fieldset {
  border-style: none;
}

.select{
  margin-bottom: .5rem;
}

/* ThankYouPage */
.confirmation-container {
  margin-top: 10rem; 
}

/* Admin pages */

.admin-container {
  width: 95%;
  margin: 20px;
  box-shadow: 6px 7px 10px 1px rgba(0,0,0,0.31);
}

.admin-header {
  width: 100%;
  background-color: #fff9de;
  height: 1.5rem;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #2374AB;
}

.admin-panel {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #2374AB;
  padding: 15px;
}

.ap-ul {
  margin-top: 10px;
}

.li-ndistro {
  margin-bottom: 15px;
}

.li-newvol {
  margin-top: 15px;
}

.search-container {
  width: 100%;
}

.page-index {
  margin: 20px auto;
  width: 80%;
  text-align: center;
}

.pagination {
  justify-content: space-evenly;
}

/* Admin view - User pages */

.volunteer-index-table {
  width: 100%;
  font-size: 1rem;
}

.volunteer-index-table td {
  padding: 2px;
}

.volunteer-index-table tr:nth-child(even) {
  background-color: #fff9de;
}

/* Admin view - Inventory pages */

.inventory-index-table {
  width: 100%;
  font-size: 1rem;
}

.inventory-index-table td {
  padding: 2px;
}

.inventory-index-table tr:nth-child(even) {
  background-color: #fff9de;
}

/* Admin view - Reversal pages */

.reversal-index-table {
  width: 100%;
  font-size: 1rem;
}

.reversal-index-table td {
  padding: 2px;
}

.reversal-index-table tr:nth-child(even) {
  background-color: #fff9de;
}

/* Admin view - user form */

.form-field-box {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
}

.form-field-box .field {
  margin: 15px;
}

/* Media Queries */

@media screen and (min-width: 320px) {
/* Universal Styles */ 

    .center-justify {
      text-align: left;
      margin: 0 auto;
      width: 16em;
    }


/* Login Page */


.login-image {
  display: block;
  margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;
}

/* WelcomeView */

.Card-container {
  margin-top: 5rem;
}


/* Scanner */
.delete-button-container {
  text-align: right;
  margin-bottom: .5rem;
}

.scanner-container {
  margin-top: 3rem; 
}

.serial-input {
  width: 91%;
}
}

@media screen and (min-width: 414px) {
/* Universal Styles */ 

.center-justify {
  text-align: left;
  margin: 0 auto;
  width: 21em;
}

/* Login Page */

.login-image {
  display: block;
  margin-top: 7rem;
  margin-left: auto;
  margin-right: auto;
}

/* Welcome Page */

.Card-container {
  margin-top: 12rem;
}

.serial-input {
  width: 93%;
}

}

@media screen and (max-width: 600px) {
  .tbl-desktop {
    display: none;
  }

  .ffb-col {
    flex-direction: column;
    justify-content: flex-start;
  }
}


@media screen and (min-width: 768px) {

  /* Universal Styles */ 

  .center-justify {
    text-align: left;
    margin: 0 auto;
    width: 41em;
  }

/* Login Page */

.login-image {
  display: block;
  margin-top: 11em;
  margin-left: auto;
  margin-right: auto;
  max-width: 55%;
}
/* Welcome Page */ 

.Card-container {
  margin-top: 19rem;
}

/* Scanner */ 

.ScannerCard {
  border-radius: 5px;
  box-shadow: 6px 7px 10px 1px rgba(0,0,0,0.31);;
  padding: 1rem .5rem;
  margin: 2rem auto;
  width: 65%;
  background-color: white;
}

.scanner-container {
  margin-top: 7rem; 
}
  
}

@media screen and (max-width: 812px) {
/* Login Page */

.login-image {
  margin-top: 12em;
}

/* Welcome Page */
.Card-container {
  margin-top: 13rem;
}

/* Scanner */

.scanner-container {
  margin-top: 7rem; 
}

.serial-input {
  width: 91%;
}

}

@media screen and (min-width: 1024px) {

  /* Universal Styles */ 

.Card {
  border-radius: 5px;
  box-shadow: 6px 7px 10px 1px rgba(0,0,0,0.31);;
  padding: 1rem .5rem;
  margin: 2rem auto;
  width: 60%;
  background-color: white;
}

.center-justify {
  text-align: left;
  margin: 0 auto;
  width: 36em;
}

.sub-button {
  width: 70%;
  margin-left: 15%;
  margin-right: auto;
}

/* Login Page */

.login-image {
  display: block;
  margin-top: 10rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 40%; 
}

.password-reset {
  margin-top: .5rem;
  margin-bottom: 0;
}

/* WelcomeView */

.Card-container {
  margin-top: 18rem;
}

.greeting {
  text-align: center;
  font-family: "Open Sans";
  margin-bottom: .5rem;
  font-size: 2rem;
  font-weight: 700;
}

/* Manual Input*/

.align {
  text-align: left;
}

.delete-input {
  margin-left: 1rem;
  padding-top: 1rem;
}

.input-delete {
  margin-left: .5rem;
}

.manual-input-container {
  margin-top: 8rem;
}

.label {
  margin-top: .5rem;
}

/* Scanner */ 

.ScannerCard {
  border-radius: 5px;
  box-shadow: 6px 7px 10px 1px rgba(0,0,0,0.31);;
  padding: 1rem .5rem;
  margin: 2rem auto;
  width: 60%;
  background-color: white;
}

.scanner-container {
  margin-top: 7rem; 
}

}

@media screen and (min-width: 1024px) and (max-width: 1366px) {
/* Universal Styles */

.Card {
  border-radius: 5px;
  box-shadow: 6px 7px 10px 1px rgba(0,0,0,0.31);;
  padding: 1rem .5rem;
  margin: 2rem auto;
  width: 90%;
  background-color: white;
}

.center-justify {
  text-align: left;
  margin: 0 auto;
  width: 56em;
}

/* Login Page */


.login-image {
display: block;
margin-top: 13rem;
margin-left: auto;
margin-right: auto;
max-width: 45%; 
}

/* Scanner */ 

.ScannerCard {
  border-radius: 5px;
  box-shadow: 6px 7px 10px 1px rgba(0,0,0,0.31);;
  padding: 1rem .5rem;
  margin: 2rem auto;
  width: 55%;
  background-color: white;
}

.scanner-container {
  margin-top: 14rem; 
}

}

@media screen and (min-width: 1440px) {
/* Universal Styles */ 
  .Card {
    border-radius: 5px;
    box-shadow: 6px 7px 10px 1px rgba(0,0,0,0.31);;
    padding: 1rem .5rem;
    margin: 2rem auto;
    width: 80%;
    background-color: white;
  }

  .center-justify {
    text-align: left;
    margin: 0 auto;
    width: 70em;
  }

  /* Login Page */


.login-image {
  display: block;
  margin-top: 10rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 35%; 
  }

/* Scanner */

.ScannerCard {
  border-radius: 5px;
  box-shadow: 6px 7px 10px 1px rgba(0,0,0,0.31);;
  padding: 1rem .5rem;
  margin: 2rem auto;
  width: 40%;
  background-color: white;
}

.serial-input {
  width: 97%;
}

}