.scan-container {
    width: 90%;
    margin: 200px auto;
}

.exit-button-div {
    margin: 20px;
}

.serial-button-div {
    width: 60%;
    display: inline-block;
    margin: 20px 0px 0px 20px;
}

.done-button-div {
    width: 30%;
    display: inline-block;
    margin: 20px 20px 0px 0px;
}

button {
    font-size: 3rem;
    height: 100px;
    background-color: lightseagreen;
    border-radius: 20px;
    color: white
}

.exit-button {
    width: 150px;
}

.serial-button {
    width: 10%;
}

.done-button {
    width: 10%;
}

@media screen and (min-width: 798px) {
    .scan-container {
        /* max-width: 40%; */
        margin: 0 auto;
    }

    button {
        font-size: 2rem;
        height: 100px;
        background-color: lightseagreen;
        border-radius: 20px;
        color: white
    }
    
    .exit-button {
        width: 150px;
    }
    
    .serial-button {
        width: 325px;
    }
    
    .done-button {
        width: 300px;
    }
}