<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
</head>

<style>
.admin-container {
  max-width: 90%;
  margin: 20px;
  box-shadow: 6px 7px 10px 1px rgba(0,0,0,0.31);
}

.admin-header {
  width: 100%;
  background-color: #fff9de;
  height: 1.5rem;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #2374AB;
}

.admin-panel {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #2374AB;
  padding: 15px;
}
</style>

<div class="admin-container">
  <div class="admin-header">Hello <%= @resource.email %>!</div>
  <div class="admin-panel">

    <p>Someone has requested a link to change your password. You can do this through the link below.</p>

    <p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

    <p>If you didn't request this, please ignore this email.</p>
    <p>Your password won't change until you access the link above and create a new one.</p>

    </div>
</div>